/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

/* DIV GERAL */
.text-services {
    margin-top: 20px;
}

.text-services h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.text-services h3 {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.text-services p {
    margin: 10px 120px;
    text-align: justify;

    line-height: 22px;
    
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

/* CARROSSEL DE IMAGENS */
.carossel {
    position: relative;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    height: 400px;
}

.carossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carossel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carossel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carossel-control.prev {
    left: 0;
}

.carossel-control.next {
    right: 0;
}

.carossel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carossel-indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carossel-indicator.active {
    background-color: #e98b38;
}

/* VÍDEO SOBRE ACMJAII */
.bg-video {
    width: 100%;
    height: auto;

    background-color: #eee;
}

.video-box {
    width: 600px; 
    height: 340px;

    margin: 20px auto;
    border: 2px solid #ccc;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    overflow: hidden;

    background-color: #000;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* EVENTOS E AÇÕES */
.text-events h3 {
    margin: 10px 120px;

    font-weight: bolder;
    
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
.text-events p {
    margin: 10px 120px;
    text-align: justify;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

    line-height: 22px;
}

/* MARCOS */
.text-marks h3 {
    margin: 10px 120px;
}

.text-marks li{
    margin: 10px 120px;
    text-align: justify;

    line-height: 22px;
    
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

@media (max-width: 999px) {
    .video-box {
        width: 60%; 
        height: 300px;

        margin: 20px auto;
        border: 2px solid #ccc;
        border-radius: 10px; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        overflow: hidden;
        background-color: #000;
    }
}

@media (max-width: 659px) {
    .carossel {
        height: auto;
    }

    .carossel-inner img {
        height: 200px;
        object-fit: fit;
    }

    .video-box {
        width: 80%; 
        height: 250px;

        margin: 20px auto;
        border: 2px solid #ccc;
        border-radius: 10px; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        overflow: hidden;
        background-color: #000;
    }

    .text-services h3 {
        margin: 10px 40px;
    }
    .text-services p {
        margin: 10px 40px;
    }

    .text-events h3 {
        margin: 10px 40px;
    }
    .text-events p {
        margin: 10px 40px;
    }

    .text-marks h3{
        margin: 10px 40px;
    }

    .text-marks li{
        margin: 10px 40px;
    }
}