/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

/* carrossel de imagens */
.carossel {
    position: relative;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    height: 400px;
}

.carossel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carossel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carossel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carossel-control.prev {
    left: 0;
}

.carossel-control.next {
    right: 0;
}

.carossel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carossel-indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carossel-indicator.active {
    background-color: #e98b38;
}

/* CARDS DE SERVIÇOS */
.text-services {
    width: 100%;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eee;
}

.text-services h1 {
    font-size: 24px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.cards-services {
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #eee;
}

.card {
    width: 250px;
    height: 120px;
    padding: 20px;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #fff;
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
    
    text-transform: uppercase;
    font-size: 16px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.btn {
    display: inline-block;
    padding: 10px 15px;

    color: #fff;

    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    text-transform: uppercase;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;

    background-color: #e98b38;
}

.btn:hover {
    background-color: #ce6c16;
}

/* MAIS INFO */
.text-info {
    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
}

.text-info h1 {
    font-size: 24px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.container {
    width: 100%;
    height: 300px;

    display: flex;
    
    overflow: hidden;
}

.card-info {
    width: 150vw;
    height: 300px;
    margin: 0 40px;

    box-sizing: border-box;
    border-radius: 10px;
    position: relative;

    overflow: hidden;
}

.card-info iframe {
    width: 100%;
    height: 100%;

    display: block;

    border: 0;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

.content h2 {
    font-size: 24px;

    margin-left: 40px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.content p {

    margin-top: 10px;
    padding: 0px 40px 10px 40px;

    text-align: justify;

    line-height: 22px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

/* RESPONSIVIDADE - MOBILE*/
@media (max-width: 999px) {
    .carossel {
        height: auto;
    }

    .carossel-inner img {
        height: 200px;

        object-fit: cover;
    }
    
    .nav-list {
        display: none;
    }

    .container{
        height: auto;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-info {
        height: 300px;
        width: 80%;
    }
}

@media (max-width: 659px) {
    .carossel {
        height: auto;
    }

    .carossel-inner img {
        height: 200px;

        object-fit: cover;
    }

    .cards-services {
        height: 360px;
        gap: 20px;

        flex-direction: column;
    }
    
    .container {
        height: auto;
    }

    .card {
        width: 300px;
        height: 120px;
    }

    .card-info {
        height: 200px;
    }

    .content p {
        padding: 0px 20px 10px 20px;
    }

    .content h2 {
        margin-left: 20px;
    }
}

@media (max-width: 399px) {
    .carossel-inner img {
        height: 180px;
    }
}