/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

.text-services {
    background-color: #fff;
}

.text-services h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;

    padding:20px 0 0 0;
}

.text-awards {
    margin-top: 20px;
}

.text-awards p {
    margin: 0 120px;

    line-height: 22px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

}

.container {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
    gap: 60px;
}

.card {
    width: 350px;
    height: 350px;

    padding: 10px 10px;
    position: relative;
    text-align: center;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: 0.3s ease-in-out;
    overflow: hidden;

    background-color: #eee;
}

.card:hover {
    background-color: #ddeffd;
}

.card img {
    width: 100%;
    height: auto;

    display: block;
    border-radius: 2%;
}

.card-content {
    padding: 10px;
    font-size: 20px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #333;
}

.expandable-content {
    display: none;
    padding: 10px;

    font-size: 14px;
}

.card.expanded {
    transform: scale(1.1);
    z-index: 1;
    height: auto;
}

.card.expanded .expandable-content {
    display: block;
}

.expandable-content p {
    text-align: justify;
}

@media (max-width: 1200px) {
    .container {
        height: auto;

        padding-top: 40px;
    }
}

@media (max-width: 999px) {
    .container {
        height: auto;

        flex-wrap: nowrap;
        flex-direction: column;

        padding-top: 40px;
    }
}